<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recycling.manager.dao.face.HrDao">

	<!-- 반복되는 Manager 전체조회기능 추출 -->	
	<sql id="selectByManager">
		SELECT
			mgr_code, deptno, mgr_id, mgr_pw, mgr_name
			, mgr_phone, mgr_email, mgr_birth, mgr_gender, mgr_entDate
			, mgr_out, mgr_out_date
		FROM Manager			
	</sql>
	
	<!--  manager join department -->
	<sql id="mgrJoinDep">
		SELECT
		    m.mgr_code, m.deptno, m.mgr_id, m.mgr_pw, m.mgr_name
		    , m.mgr_phone, m.mgr_email, m.mgr_birth, m.mgr_gender, m.mgr_entDate
		    , m.mgr_out, m.mgr_out_date, d.dName
		FROM Manager m
		JOIN Department d ON m.deptno = d.deptno
	</sql>

	<!--  manager join department resultMap-->	
	<resultMap type="java.util.HashMap" id="mgrJoin">
	
	<result property="mgrCode" column="mgr_code"/>
	<result property="deptno" column="deptno"/>
	<result property="mgrId" column="mgr_id"/>
	<result property="mgrPw" column="mgr_pw"/>
	<result property="mgrName" column="mgr_name"/>
	<result property="mgrPhone" column="mgr_phone"/>
	<result property="mgrEmail" column="mgr_email"/>
	<result property="mgrBirth" column="mgr_birth"/>
	<result property="mgrGender" column="mgr_gender"/>
	<result property="mgrEntDate" column="mgr_entDate"/>
	<result property="mgrOut" column="mgr_out"/>
	<result property="mgrOutDate" column="mgr_out_date"/>

	<result property="dName" column="dName"/>
	</resultMap>

	<!-- 조회 -->	
	<select id="selectAll" resultMap="mgrJoin">
		<include refid="mgrJoinDep"/>
		ORDER BY mgr_code DESC
	</select>
	
	<!-- 세부 조회 -->
	<select id="selectDetail" resultType="Manager" parameterType="Manager">
		<include refid="mgrJoinDep"/>
		WHERE mgr_code = #{mgrCode }
	</select>

	<!-- 세부사항 파일조회 -->
	<select id="mgrFileList" resultType="MgrFile" parameterType="MgrFile">
		SELECT
			mgr_flNo, mgr_code, ct_MflNo, origin_name, stored_name
		FROM Mgr_File
		WHERE mgr_code = #{mgrCode }
	</select>
	
	<!-- 데이터 삽입 -->
	<insert id="insert" parameterType="Manager">
		<selectKey order="BEFORE" keyProperty="mgrCode" resultType="String">
			SELECT ('MGR'||LPAD(manager_seq.nextval, 7, '0'))FROM dual
		</selectKey>
		INSERT INTO manager
		(
			mgr_code, deptno
			, mgr_name, mgr_phone
			, mgr_email, mgr_birth
			, mgr_gender, mgr_entDate
		)
		VALUES
		(	
			#{mgrCode }, #{deptno }
			, #{mgrName }, #{mgrPhone }
			, #{mgrEmail }, #{mgrBirth }
			, #{mgrGender }, #{mgrEntDate }
		)
	</insert>
	
	<!-- 파일 등록 -->
	<insert id="fileup" parameterType="MgrFile">
	    <selectKey order="BEFORE" keyProperty="mgrFlNo" resultType="int">
	        SELECT MGR_FILE_SEQ.nextval FROM dual
	    </selectKey>
	    INSERT INTO Mgr_File 
	    	(mgr_flNo, mgr_code, ct_MflNo, origin_name, stored_name)
	    VALUES
	    	(#{mgrFlNo}, #{mgrCode}, #{ctMflNo}, #{originName}, #{storedName}
	    	)
	</insert>
	
	<!-- 파일 다운로드 -->
	<select id="FileDown" resultType="MgrFile" parameterType="MgrFile">
		SELECT
			mgr_flNo, mgr_code, ct_MflNo, origin_name, stored_name
		FROM Mgr_File
		WHERE mgr_code = #{mgrCode }
	</select>
	
	<!-- 업데이트 항목조회 -->
	<select id="hrUpdateView" resultType="Manager" parameterType="Manager">
		<include refid="selectByManager"/>
		<where>mgr_code = #{mgrCode }</where>	
	</select>
	
	<!-- 업데이트 -->
	<update id="hrUpdate" parameterType="Manager">
		UPDATE Manager SET
		mgr_code = #{mgrCode }
		, deptno = #{deptno }
		, mgr_name = #{mgrName }
		, mgr_phone = #{mgrPhone }
		, mgr_email = #{mgrEmail }
		<where>mgr_code = #{mgrCode} </where>
	</update>
	
	
	<!-- 체크 유무에 따른 삭제 -->
<!-- 	<delete id="listDel" parameterType="String"> -->
<!-- 		DELETE FROM manager -->
<!-- 		<where> mgr_code = #{mgrCode } </where> -->
<!-- 	</delete> -->

	<!-- 체크 유무에 따른 삭제 mgr_out = N[가입] -> Y[탈퇴] 변경-->
	<update id="listDel" parameterType="String">
	    UPDATE manager SET
	    mgr_out = 'Y'
	    , mgr_out_date = sysdate
	    WHERE mgr_code = #{mgrCode }
	</update>

	<!-- 업데이트 파일조회 -->
	<select id="mgrFileUpdateList" resultType="MgrFile" parameterType="MgrFile">
		SELECT
			mgr_flNo, mgr_code, ct_MflNo, origin_name, stored_name
		FROM Mgr_File
		<where>
			AND mgr_code = #{mgrCode }
			AND ct_mflno = 1000
		</where>
	</select>
		
	<!-- 프로필 업데이트 -->	
	<update id="updateProfileProc"  parameterType="MgrFile">
		UPDATE mgr_file SET
			origin_name = #{originName } 
			, stored_name = #{storedName }
		<where>
			AND mgr_code = #{mgrCode }
			AND mgr_flno = #{mgrFlNo }
		</where>
	</update>
	


</mapper>