<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recycling.manager.dao.face.ManagerDao">

	<select id="selectByIdPw" parameterType="string" resultType="int">
		SELECT count(*) FROM manager
		<where>
			AND mgr_id = #{mgrId }
			AND mgr_pw = #{mgrPw }
		</where>
	</select>
	
	<update id="updatePw" parameterType="ManagerLogin">
		UPDATE manager
		SET mgr_pw = #{mgrPw }
		<where>
			AND mgr_code = #{mgrCode }
			AND mgr_id = #{mgrId } 
		</where>
	</update>
	
	<update id="updateManager" parameterType="Manager">
		UPDATE manager
		SET mgr_id = #{mgrId },
			mgr_pw = #{mgrPw }
		<where>
			AND mgr_code = #{mgrCode }
		</where>
	</update>
	
	<update id="updateMgrProf" parameterType="MgrFile">
		UPDATE mgr_file
		SET origin_name = #{originName }, 
			stored_name = #{storedName }
		<where>
			AND mgr_code = #{mgrCode }
			AND mgr_flno = #{mgrFlNo }
		</where>
	</update>
	
	<select id="selectByMgr" parameterType="ManagerLogin" resultType="Manager">
		SELECT 
			mgr_code, deptno, mgr_id, mgr_pw, mgr_name, mgr_phone, mgr_email, 
			TO_CHAR(mgr_birth, 'YYYY-MM-DD') mgr_birth, mgr_gender, 
			TO_CHAR(mgr_entdate, 'YYYY-MM-DD') mgr_entdate, 
			mgr_out, 
			TO_CHAR(mgr_out_date, 'YYYY-MM-DD') mgr_out_date
		FROM manager
		<where>
			AND mgr_code = #{mgrCode }
			AND mgr_id = #{mgrId }
		</where>
	</select>
	
	<select id="selectByMgrProf" parameterType="ManagerLogin" resultType="MgrFile">
		SELECT * FROM mgr_file
		<where>
			AND mgr_code = #{mgrCode }
		</where>
	</select>
</mapper>