/* 기본 설정 */
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, main, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
}

.full {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.page{
	border-bottom: 3px solid #ddd;
}

.page, .section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 버튼 설정 */
button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

button:focus {
	outline: none;
}



input[type="text"], input[type="date"], input[type="time"], textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="file"] {
	margin-bottom: 10px;
}


#image_container {
	margin-top: 10px;
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 10px;
}

@media ( max-width : 768px) {
	.wrap {
		width: 80%;
	}
}


