@charset "UTF-8";

button {
    border: none;
}

input[type="button"] {
    border: none;
}

.btn {
	background-color: #ccc;
    color: black;
}

.buyBtn {
    background-color: #4CAF50;
    color: white;
}

.selBtn {
    background-color: #2D9BF0;
    color: white;
}

.mgrBtn {
    background-color: #652CB3;
    color: white;
}