.full {
	width: 1200px;
	height: auto;
    min-height: calc(100vh - 450px);
    margin: 0 auto;
    padding: 50px 20px;
}

.wrap {
    display: flex;
}

.sidebar {
    width: 300px;
}

.sidebar .panel-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sidebar ul li {
	margin: 0 0 15px 10px;
}

.main-section {
    width: 100%;
}

.main-section table {
    width: 100%;
    border-top: 2px solid #333;
    border-collapse: collapse;
}

.main-section table thead {
    border-top: 2px solid #252525;
    border-bottom: 1px solid #b7b7b7;
    background-color: #CEE741;
    font-size: 13px;
    font-weight: 700;
    height: 36px;
}

.main-section table tbody tr {
    text-align: center;
    font-size: 13px;
    height: 60px;
    border-bottom: 1px solid #b7b7b7;
}

.page-header {
    margin: 0 0 20px 0;
    padding-bottom: 10px;
}

.page-header h5 {
    font-size: 16px;
}