<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recycling.buyer.dao.face.BuyerDao">

	<select id="selectBuyerById" resultType="recycling.dto.buyer.Buyer">
		SELECT * FROM Buyer
		<where>
			AND bId = #{bId }
		</where>
	</select>
	
	<update id="updateBuyer">
		UPDATE Buyer
		SET
			bPw = #{bPw }
			bName = #{bName }
			bPhone = #{bPhone }
			bEmail = #{bEmail }
			adSms = #{adSms }
			adEmail = #{adEmail }
		<where>
			AND bId = #{bId }
		</where>			
	</update>
	
	<select id="selectBuyerAdr" resultType="recycling.dto.buyer.Buyer">
		SELECT * FROM Buyer_Adr
	</select>

</mapper>