<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recycling.buyer.dao.face.ExpDao">

	<sql id="selectExp">
	SELECT * FROM Exp
	</sql>
	
	<select id="selectAllExp" parameterType="recycling.util.Paging" resultType="Exp">
		SELECT * FROM (
			SELECT rownum rnum, E.* FROM (
				<include refid="selectExp"/>
				<where>
					AND exp_name LIKE '%' || #{search } || '%' 
						OR exp_code LIKE '%' || #{search } || '%' 
				</where>
				ORDER BY exp_code
			) E
		)
		<where>
			AND rnum BETWEEN #{startNo} AND #{endNo}
		</where>
	</select>
	
	<select id="selectCntAll" parameterType="string" resultType="int">
		SELECT count(*) FROM Exp
		<where>
			AND exp_name LIKE '%' || #{key } || '%' 
				OR exp_code LIKE '%' || #{search } || '%'
		</where>
		ORDER BY exp_date DESC
	</select>
</mapper>