<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recycling.buyer.dao.face.HelpDao">

	
<!-- 	<select id="selectAllFaq" parameterType="recycling.util.Paging" resultType="Faq"> -->
<!-- 	SELECT * FROM ( -->
<!-- 			SELECT rownum rnum, B.* FROM ( -->
<!-- 				SELECT F.*, C.ct_faqname -->
<!-- 				FROM Faq F -->
<!-- 				JOIN Faq_ct C ON F.ct_faqno = C.ct_faqno -->
<!-- 				ORDER BY F.faq_no -->
<!-- 			) B -->
<!-- 		) -->
<!-- 		<where> -->
<!-- 			AND rnum BETWEEN #{startNo } AND #{endNo } -->
<!-- 		</where> -->
<!-- 	</select> -->

	<select id="selectCntAllFaq" resultType="int" parameterType="recycling.util.PagingAndCtg">
		SELECT count(*) FROM faq
		<where>
			AND (
				faq_no LIKE '%' || #{search } || '%'
				OR faq_title LIKE '%' || #{search } || '%'
				)
		</where>
		ORDER BY faq_no DESC
	</select>

	<select id="selectAllFaq" parameterType="recycling.util.PagingAndCtg" resultType="Faq">
			SELECT * FROM (
        SELECT rownum AS no, F.* FROM (
            SELECT F.*, C.ct_faqname
            FROM Faq F
            JOIN Faq_ct C ON F.ct_faqno = C.ct_faqno
            ORDER BY F.faq_no
        ) F
    )
    <where>
    	AND no BETWEEN #{startNo} AND #{endNo}
    </where>
	</select>
	
	<select id="selectAllCtFaq" parameterType="recycling.util.PagingAndCtg" resultType="FaqCt">
		SELECT * FROM Faq_ct
	</select>
	
	<select id="selectByCategory" resultType="Notice" parameterType="int">
	    SELECT * FROM Notice
	    <where>
	    	AND ct_ntcno = #{ctNtcNo}
	    </where>
	</select>
	
	<select id="chkSeller" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM seller
		<where>
			AND b_code = #{bCode}
		</where>
	</select>
	
	<select id="selectByNotice" resultType="Notice" parameterType="string">
		SELECT * FROM Notice
		<where>
	    	AND ntc_code = #{ntcCode}
		</where>
	</select>
	
	<update id="updateNtcHit" parameterType="string">
		UPDATE Notice
			SET ntc_hit = ntc_hit + 1
		<where>
			AND ntc_code = #{ntcCode }
		</where>
	</update>
	
	<insert id="insertOto" parameterType="Oto" useGeneratedKeys="true" keyProperty="otoCode" keyColumn="oto_code">
		INSERT INTO Oto (oto_code, ct_otono, b_code, oto_title, oto_content, oto_name, oto_email)
		VALUES('OTO' || lpad(oto_seq.nextval, 7, '0'), #{ctOtoNo}, #{bCode}, #{otoTitle}, #{otoContent}, #{otoName}, #{otoEmail})
	
	</insert>
	
	<select id="selectAllOto" resultType="map" parameterType="recycling.util.Paging">
    SELECT * FROM (
        SELECT rownum no, OTO.* FROM (
            SELECT 
                O.oto_code AS otoCode, 
                O.ct_otono AS ctOtoNo, 
                O.oto_title AS otoTitle, 
                O.oto_content AS otoContent, 
                O.oto_name AS otoName, 
                O.oto_date AS otoDate, 
                O.oto_hit AS otoHit,
                NVL(A.ans_code, '-') AS ansStatus
            FROM 
                oto O
            LEFT JOIN 
                ans A ON O.oto_code = A.oto_code
            WHERE 
                (O.oto_title LIKE '%' || #{search} || '%'
                OR O.oto_content LIKE '%' || #{search} || '%')
            ORDER BY 
                O.oto_date DESC
        ) OTO
    )
    WHERE 
        no BETWEEN #{startNo} AND #{endNo}
</select>



	
	<select id="selectCntAllOtoList" parameterType="recycling.util.PagingAndCtg" resultType="int">
    SELECT count(*) 
    FROM 
        oto O
    LEFT JOIN 
        ans A ON O.oto_code = A.oto_code
    WHERE 
        (O.oto_title LIKE '%' || #{search} || '%'
        OR O.oto_content LIKE '%' || #{search} || '%')
</select>



	
	<select id="selectAllOtoCt" resultType="OtoCt">
		select * from oto_ct
	</select>
	
	<select id="selectByCtOto" resultType="map" parameterType="map">
    SELECT * FROM (
        SELECT rownum no, OTO.* FROM (
            SELECT 
                O.oto_code AS otoCode, 
                O.ct_otono AS ctOtoNo, 
                O.oto_title AS otoTitle, 
                O.oto_content AS otoContent, 
                O.oto_name AS otoName, 
                O.oto_date AS otoDate, 
                O.oto_hit AS otoHit,
                NVL(A.ans_code, '-') AS ansStatus
            FROM 
                oto O
            LEFT JOIN 
                ans A ON O.oto_code = A.oto_code
            WHERE 
                O.ct_otono = #{ctOtoNo}
            AND 
                (O.oto_title LIKE '%' || #{upPaging.search} || '%'
                OR O.oto_content LIKE '%' || #{upPaging.search} || '%')
            ORDER BY 
                O.oto_date DESC
        ) OTO
    )
    WHERE 
        no BETWEEN #{upPaging.startNo} AND #{upPaging.endNo}
</select>

	
	<select id="getAllOct" resultType="OtoCt">
		SELECT * FROM Oto_Ct
	</select>
	
	<select id="selectByOtoCode" resultType="Oto" parameterType="string">
		SELECT * FROM Oto
		<where>
			AND oto_code = #{otoCode}
		</where>
	</select>
	
	<update id="updateOtoHit" parameterType="string">
		UPDATE Oto
			SET oto_hit = oto_hit + 1
		<where>
			AND oto_code = #{otoCode}
		</where>
	</update>
	
	<select id="selectBuyerBybId" parameterType="string" resultType="recycling.dto.buyer.Buyer">
		SELECT B_Code AS bCode,
		       B_Ct_Code AS bCtCode,
		       B_Id AS bId,
		       B_Pw AS bPw,
		       B_Name AS bName,
		       B_Phone AS bPhone,
		       B_Email AS bEmail,
		       Ad_Sms AS adSms,
		       Ad_Email AS adEmail
		FROM Buyer
		<where>
			AND B_Id = #{bId }
		</where>
	</select>
	
	<insert id="insertOtoFiles" parameterType="OtoFile">
		INSERT INTO oto_file (oto_flno, oto_code, origin_name, stored_name)
		VALUES (oto_file_seq.nextval, #{otoCode}, #{originName}, #{storedName })
	</insert>
	
	<select id="getOtoFiles" resultType="OtoFile" parameterType="string">
		SELECT * FROM oto_file
		<where>
			AND oto_code = #{otoCode}
		</where>
	</select>
	
	<select id="selectAnsByOtoCode" resultType="Ans" parameterType="string">
		SELECT * FROM ans
		<where>
			AND oto_code = #{otoCode}
		</where>
	</select>
	
</mapper>