<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recycling.buyer.dao.face.RecyclingDao">

	<!-- 판매자 찾기 -->
	<select id="findSeller" parameterType="String" resultType="Seller">
	    SELECT S_CODE, B_CODE, ACC_NAME, ACC_BANK, ACC_NO, S_POSTCODE, S_ADDR, S_DETAIL, S_ENTDATE, S_CHK, S_OUT, S_OUT_DATE
	    FROM SELLER
	    <!-- <where>
	    	AND S_CODE = #{sCode }
	    </where> -->
	</select>
	
	<!-- 판매자 코드로 재활용품 조회 -->
    <select id="findRcyBySellerCode" parameterType="String" resultType="Rcy">
        SELECT RCY_CODE, B_CODE, PRD_CODE, RCY_CMT, RCY_DATE
        FROM RCY
        <where>
	    	AND B_CODE = #{bCode }
	    </where>
    </select>

</mapper>
