<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recycling.buyer.dao.face.UpcyclingDao">

	<select id="selectPrdList" resultType="Prd">
	    SELECT * FROM Prd
	    WHERE CT_PNO = 1
	</select>
	
	<select id="selectPrd" resultType="Prd">
	    SELECT * FROM Prd
	    WHERE PRD_CODE = #{prdCode}
	</select>
	
	<select id="selectSeller" resultType="Seller">
		SELECT * FROM SELLER
		WHERE S_CODE = #{sCode}
	</select>
	
	<select id="selectSellerProf" resultType="SellerProf">
		SELECT * FROM SELLER_PROF
		WHERE S_CODE = #{sCode}
	</select>

	<select id="selectListCntAll" resultType="Prd">
        SELECT COUNT(*) FROM Prd
    </select>
    
     <select id="selectRvwList"	parameterType="String"	resultType="UpcyReview">
     	SELECT COUNT(*) FROM UpcyReview 
     	WHERE PRD_CODE = #{prdCode}
     </select>
    
     <select id="selectRvw" parameterType="String" resultType="UpcyReview">
         SELECT * FROM UpcyReview 
         WHERE UPCY_CODE  = #{upcyCode} 
     </select> 

    <insert id="insertReview" parameterType="map">
        INSERT INTO UpcyReview (UPCY_CODE, B_CODE, PRD_CODE, UPCY_GRADE, UPCY_CONTENT, UPCY_DATE)
        VALUES (#{upcyCode}, #{bCode}, #{prdCode}, #{upcyGrade}, #{upcyContent}, #{upcyDate})
    </insert>

	<update id="updateReview" parameterType="map">
        UPDATE Review 
        SET RVW_TITLE = #{rvwTitle}, RVW_CONTENT = #{rvwContent}, RVW_GRADE = #{rvwGrade}
        WHERE RVW_CODE = #{rvwCode}
    </update>
    
    <delete id="deleteReview" parameterType="int">
        DELETE FROM Review
        WHERE RVW_CODE = #{rvwCode}
    </delete>
</mapper>